.btn{
    background-color: gray;
}
.btn.actv{
    background-color: green;
}
.Product_Blog{
    /* background-color: #5c5a5a; */
    color: black;
}
.global{
    color: black;
}

@media(max-width:767px){
    .slider_product .slide {
        width: 100%;
        opacity: .8;
    
    }
    .global{
        width: 65%;
        display: grid;
        grid-template-columns: 76% 28%;
    }
    .global .products{
        margin: 40px 0px;
    }
    .global .products .kind{
        width: 11rem;
        height: 15rem;
        position: relative;
    }
    .global .products .kind .heart{
        float: right;
        right: 0;
        margin: 5px;
        position: absolute;
        padding: 5px;
        color: rgb(255, 84, 84);
        background-color: #c6c6c6;
        border: 1px solid rgb(255, 84, 84);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}
    .global .products .kind img{
        width: 11rem;
        height: 15rem;
        background-color: #c6c6c6;
        border-radius: 8px 8px 0px 0px;
        border: 1px solid #c6c6c6;
        border-bottom: none;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
    }
    .products .data{
        width: 11rem;
        border: 1px solid #c6c6c6;
        border-radius: 0px 0px 8px 8px;
        border-top: 0;
        display: grid;
        padding: 25px 20px;
        grid-template-columns: 47% 49% 50%;
    }
    .data .b1{
        
    }
    .data .b2{
        
    }
    .txt h2{
    }
    .txt p{
        color:red;
    }
    .slider_product .txt {
        position: absolute;
        text-align: center;
        color: white;
        z-index: 2;
    }
}

/* @media(max-width:767px){
    .slider_product .slide {
        
    }
    .slider_product .txt {
        margin: 60px 97px;
    }
    .txt h2{

    }
    .txt p{

    }
} */
@media(min-width:768px){
    .slider_product .slide {
        height: 25rem;
    }
    .slider_product .txt {
        font-size: 1.8rem;
        margin: 11rem 14rem;

    }
    .txt h2{
        
    }
    .txt p{

    }
    .global {
        
        width: 40rem;
        display: grid;
        grid-template-columns: 32% 32% 16%;
        margin: 0px auto;
    }
    .global .products{
        margin: 40px 0px;
    }
    .global .products .kind{
        width: 11rem;
        height: 15rem;
        position: relative;
    }
    .global .products .kind .heart{
        float: right;
        right: 0;
        margin: 5px;
        position: absolute;
        padding: 5px;
        color: rgb(255, 84, 84);
        background-color: #c6c6c6;
        border: 1px solid rgb(255, 84, 84);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}
    .global .products .kind img{
        width: 11rem;
        height: 15rem;
        background-color: #c6c6c6;
        border-radius: 8px 8px 0px 0px;
        border: 1px solid #c6c6c6;
        border-bottom: none;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
    }
    .products .data{
        width: 11rem;
        border: 1px solid #c6c6c6;
        border-radius: 0px 0px 8px 8px;
        border-top: 0;
        display: grid;
        padding: 25px 20px;
        grid-template-columns: 47% 49% 50%;
    }
}
@media(min-width:991px){
    .slider_product .slide {
        height: 25rem;
    }
    .slider_product .txt {
        margin: 9rem 22rem;
    }
    .txt h2{
        
    }
    .txt p{

    }

    .global{
        display: grid;
        grid-template-columns: 31% 31% 31% 4%;
        width: 40rem;
        margin: 0px 8rem;
    }
    .global .products{
        margin: 40px 0px;
    }
    .global .products .kind{
        width: 11rem;
        height: 15rem;
        position: relative;
    }
    .global .products .kind .heart{
        float: right;
        right: 0;
        margin: 5px;
        position: absolute;
        padding: 5px;
        color: rgb(255, 84, 84);
        background-color: #c6c6c6;
        border: 1px solid rgb(255, 84, 84);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}
    .global .products .kind img{
        width: 11rem;
        height: 15rem;
        background-color: #c6c6c6;
        border-radius: 8px 8px 0px 0px;
        border: 1px solid #c6c6c6;
        border-bottom: none;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
    }
    .products .data{
        width: 11rem;
        border: 1px solid #c6c6c6;
        border-radius: 0px 0px 8px 8px;
        border-top: 0;
        display: grid;
        padding: 25px 20px;
        grid-template-columns: 47% 49% 50%;
    }

}
@media(min-width:1199px){
    .slider_product .slide {
        height: 30rem;
    }
    .slider_product .txt {
        margin: 10rem 30rem;
    }
    .txt h2{
        
    }
    .txt p{

}
    .global {
    display: grid;
    grid-template-columns: 31% 31% 31% 4%;
    margin: 0px 16rem;
    }

}
.slider_product .txt {
    position: absolute;
    text-align: center;
    color: white;
    z-index: 2;
 }
 
.txt h2{
    
}
.txt p{
    
}

 
.global .products{
    margin: 40px 0px;
}
.global .products .kind{
    width: 11rem;
    height: 15rem;
    position: relative;
}
.global .products .kind .heart{
    float: right;
    right: 0;
    margin: 5px;
    position: absolute;
    padding: 5px;
    color: rgb(255, 84, 84);
    background-color: #c6c6c6;
    border: 1px solid rgb(255, 84, 84);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.global .products .kind img{
    width: 11rem;
    height: 15rem;
    background-color: #c6c6c6;
    border-radius: 8px 8px 0px 0px;
    border: 1px solid #c6c6c6;
    border-bottom: none;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.products .data{
    width: 11rem;
    border: 1px solid #c6c6c6;
    border-radius: 0px 0px 8px 8px;
    border-top: 0;
    display: grid;
    padding: 25px 20px;
    grid-template-columns: 47% 49% 50%;
}


